@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
  https://github.com/WICG/focus-visible
*/
* :focus:not(.focus-visible) {
  outline: none;
}

/* Animation for the box*/
@keyframes floating {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  min-height: 100vh;
  font-size: 0.8rem;

  padding-top: 5rem;
  padding-bottom: 5rem;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

div.card {
  background-color: #FFFFFF;
  border-radius: 25px;
}

.faq-panel-2 h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  letter-spacing: 1px;
}

div.qa-accordion {
  border-bottom: 1px solid hsl(240, 5%, 91%);
  padding-bottom: .5rem;
}

div.qa-accordion:last-child {
  margin-bottom: 4rem;
}

div.question {
  width: 100%;
  height: 2rem;
  margin-top: .5rem;
  margin-bottom: .2rem;
  font-size: .9rem;
  color: hsl(237, 12%, 33%);
  position: relative;
}

div.qa-accordion.open div.question h2 {
  font-weight: 700;
}

div.question h2 {
  width: 100%;
  height: inherit;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

div.question h2:hover {
  color: hsl(14, 88%, 65%);
  font-weight: 700;
  cursor: pointer;
  transition: all 200ms;
}

div.question h2:after {
  display: block;
  content: '';
  background-image: url('../images/icon-arrow-down.svg');
  background-size: cover;
  height: .56rem;
  width: .8rem;
  transition: transform .5s ease-in-out;
}

.open div.question h2:after {
  transform: rotate(0.5turn);
  transition: transform 1s;
}

.qa-accordion p {
  width: 98%;
  color: hsl(240, 6%, 50%);
  line-height: 1.5rem;

  /* Hide */
  min-height: 0;
  max-height: 0;
  opacity: 0;

  transition: opacity 250ms ease-out, max-height 250ms 100ms ease-out;
}

.qa-accordion.open p {
  /* Show */
  min-height: auto;
  max-height: initial;
  opacity: initial;

  transition: opacity 250ms ease-out, max-height 250ms 100ms ease-out;
}

.attribution {
  color: whitesmoke;
  font-weight: 400;
  padding: 2rem;
}

.attribution a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 700;
}

.attribution a:hover {
  color: #F47B56;
}

@media (max-width: 1000px) {

  img#box, img#bg-desktop, img#woman-desktop {
    display: none;
  }

  main {
    width: 90%;
    padding-top: 7rem;
  }

  div.card {
    padding-left: 10%;
    padding-right: 10%;

    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
  }

  div.faq-panel-1 {
    padding-bottom: 3rem;
    position: relative;
  }

  div.cover-wrapper {
    width: 300px;
    position: relative;
  }

  div.cover-image {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  img#bg-mobile {
    display: block;
  }

  img#woman-mobile {
    display: block;
    position: relative;
    top: -220px;
    margin-bottom: -200px;
    right: 15px;
  }

  .faq-panel-2 h1 {
    text-align: center;
  }

  .faq-content {
    margin-top: 2rem;
  }
}

@media all and (min-width: 1000px) {
  img#woman-mobile, img#bg-mobile {
    display: none;
  }

  main {
    flex-basis: 60%;
    flex-shrink: 0;
    flex-grow: 0;
    padding-top: 5%;
  }

  div.card {
    width: 950px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
  }

  div.faq-panel-1 {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
  }

  div.cover-wrapper {
    height: auto;
    min-height: 100%;
    overflow: hidden;
  }

  div.cover-image {
    height: 500px;
    position: relative;
  }

  img#bg-desktop {
    display: block;
    position: absolute;
    transform: scale(2);
    top: -52px;
    left: -325px;
  }

  img#woman-desktop {
    display: block;
    position: absolute;
    top: 75px;
    left: -83px;
  }

  img#box {
    display: block;
    position: absolute;
    top: 210px;
    left: -90px;
    z-index: 1;
    animation: floating 4s ease-in-out infinite;
  }

  div.faq-panel-2 {
    padding-right: 5rem;
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .faq-panel-2 h1 {
    margin-top: 4rem;
  }

  .faq-content {
    margin-top: 1.5rem;
  }
}