body {
  font-family: 'Kumbh Sans', sans-serif;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  min-height: 100vh;
  font-size: 12px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

div.card {
  background-color: #FFFFFF;
  border-radius: 25px;
  padding-right: 2em;
}

.faq-panel-2 h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0.8em;
  letter-spacing: 1px;
}

div.qa-accordion {
  border-bottom: 1px solid hsl(240, 5%, 91%);
  padding: 1.2em 0 1.2em;
  position: relative;
}

div.qa-accordion:last-child {
  margin-bottom: 4em;
}

.qa-accordion span {
  display: inline-block;
  width: 90%;
  line-height: 1.3em;
  font-size: 13px;
  color: hsl(237, 12%, 33%);
  transition: .2s ease-out;
}

.qa-accordion.open span {
  font-weight: 700;
}

.qa-accordion span:hover {
  color: hsl(14, 88%, 65%);
  font-weight: 700;
  cursor: pointer;
}

.qa-accordion span:after {
  display: inline-block;
  position: absolute;
  top: 1.2em;
  right: 0;
  background-image: url('../images/icon-arrow-down.svg');
  content: '';
  background-size: 10px 10px;
  height: 10px;
  width: 10px;
}

.qa-accordion.open span:hover:after {
  transform: rotate(0.5turn);
}

.qa-accordion p {
  margin-top: 1em;
  color: hsl(240, 6%, 50%);
  line-height: 1.5em;
  display: none;
}

.qa-accordion.open p {
  display: block;
}

.attribution {
  color: whitesmoke;
  font-weight: 400;
  padding: 2em;
}

.attribution a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 700;
}

.attribution a:hover {
  color: #F47B56;
}

@media (max-width: 1000px) {

  img#box, img#bg-desktop, img#woman-desktop {
    display: none;
  }

  main {
    width: 90%;
  }

  div.card {
    padding-left: 2em;
    min-width: 375px;
    margin-top: 180px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  div.faq-panel-1 {
    padding-bottom: 3em;
    position: relative;
  }

  div.cover-image {
    width: 300px;
    position: relative;
  }

  div.bg-wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  img#bg-mobile {
    display: block;
  }

  img#woman-mobile {
    display: block;
    position: relative;
    top: -220px;
    margin-bottom: -200px;
    right: 17px;
  }


  .faq-panel-2 h1 {
    text-align: center;
  }
}

@media all and (min-width: 1000px) {
  img#woman-mobile {
    display: none;
  }

  main {
    flex-basis: 60%;
    flex-shrink: 0;
    flex-grow: 0;
  }

  div.card {
    width: 950px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
  }

  div.faq-panel-1 {
    flex-basis: 50%;
    flex-grow: 0;
    position: relative;
    height: 500px;
  }

  div.cover-image {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  div.bg-wrapper {
    display: block;
    position: absolute;
    height: 200%;
    width: 200%;
    top: -62%;
    left: -120%;
  }

  img#bg-desktop {
    width: 100%;
    height: 100%;
  }

  img#woman-desktop {
    display: block;
    position: relative;
    width: 100%;
    top: 16%;
    left: -19%;
  }

  img#box {
    width: 40%;
    display: block;
    position: absolute;
    z-index: 1;
    top: 43%;
    left: -20%;
  }

  div.faq-panel-2 {
    padding-right: 5em;
    margin-bottom: 3em;
    flex-basis: 50%;
    flex-grow: 2;
  }

  .faq-panel-2 h1 {
    margin-top: 2em;
  }

}