body {
  font-family: 'Kumbh Sans', sans-serif;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  min-height: 100vh;
  font-size: 12px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

div.card {
  background-color: #FFFFFF;
  border-radius: 25px;
  padding-right: 2em;
}

h1 {
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.8em;
  letter-spacing: 1px;
}

div.qa {
  border-bottom: 1px solid hsl(240, 5%, 91%);
  padding: 1.2em 0 1.2em;
  position: relative;
}

div.qa:last-child {
  margin-bottom: 4em;
}

span {
  display: inline-block;
  width: 90%;
  line-height: 1.3em;
  font-size: 13px;
  font-weight: 700;
  color: hsl(237, 12%, 33%);
}

span:after {
  display: inline-block;
  position: absolute;
  top: 1.2em;
  right: 0;
  background-image: url('../images/icon-arrow-down.svg');
  content: '';
  background-size: 10px 10px;
  height: 10px;
  width: 10px;
}

.qa p {
  margin-top: 1em;
  color: hsl(240, 6%, 50%);
  line-height: 1.5em;
}

@media (max-width: 800px) {

  .faq1 img {
    display: none;
  }

  div.faq-graphics-shifted {
    height: 200px;
    background-image: url("../images/illustration-woman-online-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    top: 100px;
    right: 1.4em;
  }

  div.card {
    padding-left: 2em;
    margin-bottom: 4em;
    min-width: 375px;
  }

  div.faq1 {
    height: 100px;
    background-image: url("../images/bg-pattern-mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 3em;
  }
}

@media all and (min-width: 800px) {
  main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
    margin-right: 5%;
  }


  div.faq-graphics-shifted {
    background-image: url("../images/illustration-box-desktop.svg");
    background-position: center;
    background-position-y: 50%;
    background-repeat: no-repeat;
    position: relative;
    left: 5%;
    z-index: 1;
  }

  div.card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: stretch;
  }

  div.faq1 {
    flex-basis: 50%;
    flex-grow: 1;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: 150%;
    background-position-x: -40%;
    overflow: hidden;
  }

  .faq1 img {
    display: block;
    width: 80%;

  }

  div.faq2 {
    flex-basis: 50%;
    flex-grow: 1;
  }
}