* {
  box-sizing: border-box;
}

html, body {
  /* IE 10-11 didn't like using min-height */
  height: 100%;
}

body {
  margin: 0;
  font: 16px Sans-Serif;
  display: flex;
  flex-direction: column;
  background-color: #e9c46a;
}

h1 {
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  color: #e76f51;
  margin: 0 0 20px 0;
}

p {
  margin: 0 0 20px 0;
}

#header {
  margin: 0;
  color: whitesmoke;
  background: #264653;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.mobile-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  padding-right: 3rem;
}

#logo a {
  text-decoration: none;
  color: whitesmoke;
}

.main-menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  list-style: none;
}

.main-menu a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: whitesmoke;
  font-size: 1.3em;
}

.main-menu a:hover {
  background: #e76f51;
}

#hamburger {
  flex-shrink: 0;
  flex-grow: 0;
  display: none;
  cursor: pointer;
}

#nav-toggle {
  all: inherit;
}

.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}

.content-wide {
  padding: 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 20px 0;
}

.item {
  border: 1px solid #264653;
  background: #2a9d8f;
  padding: 20px 5px 15px 5px;
  width: 30%;
  height: auto;
  margin: 20px auto 20px auto;
  color: white;
  text-align: center;
  -webkit-box-shadow: 5px 5px 3px -2px #264653;
  -moz-box-shadow: 5px 5px 3px -2px #264653;
  box-shadow: 5px 5px 3px -2px #264653;
}

.item span {
  font-weight: bold;
}

.item p {
  margin-top: 15px;
}

.item-footer {
  min-height: 40px;
}

div.item-footer p {
  text-align: center;
}

ul.navigation2 {
  list-style-type: none;
}

.navigation2 a {
  line-height: 15px;
}

.navigation2 a {
  text-decoration: none;
  color: whitesmoke;
}

.navigation2 a:hover {
  text-decoration: underline;
}

.navigation2 li {
  line-height: 1.3em;
}

footer {
  background: #264653;
  color: white;
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

section.item > span {
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: bold;
  color: whitesmoke;
}

#add {
  margin-top: 30px;
}

div.container-wide {
  width: 100%;
  height: auto;
  background-color: #264653;
  display: flex;
  flex-flow: row wrap; /* default */
  justify-content: space-between;
}

.container-wide div {
  padding: 15px;
  flex-basis: 30%;
  flex-grow: 1;
  flex-shrink: 1;
}

.container-wide div span {
  font-weight: bold;
}

.container-wide div p {
  margin-top: 15px;
}

.container-wide div:nth-child(1) {
  background-color: #74c69d;
  width: 30%;
}

.container-wide div:nth-child(2) {
  background-color: #52b788;
  width: 30%;
}

.container-wide div:nth-child(3) {
  background-color: #40916c;
  width: 30%;
}

.container-wide div:nth-child(4) {
  background-color: #2d6a4f;
  color: black;
  width: 45%;
  display: flex;
  align-items: center;
}

.container-wide div:nth-child(5) {
  background-color: #1b4332;
  color: wheat;
  width: 45%;
}

@media all and (max-width: 900px) {
  .item {
    width: 45%;
  }

  .container-wide div {
    flex-basis: 45%;
  }
}

@media all and (max-width: 600px) {
  .hidden {
    display: none;
  }

  #header {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
  }

  .mobile-header, #nav {
    min-height: 4rem;
    width: 100%;
  }

  ul.main-menu {
    width: 100%;
    flex-flow: column wrap;
  }

  .main-menu a {
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .main-menu li:last-of-type a {
    border-bottom: none;
  }

  #hamburger {
    display: inline-block;
  }

  .container {
    flex-flow: column wrap;
  }

  .item {
    width: 90%;
  }

  .container-wide div {
    flex-basis: 80%;
  }
}

