
* {
  box-sizing: border-box;
}

html, body {
  /* IE 10-11 didn't like using min-height */
  height: 100%;
}

body {
  margin: 0;
  font: 16px Sans-Serif;
  display: flex;
  flex-direction: column;
  background-color: #e9c46a;
}

h1 {
  text-align: center;
  color: #e76f51;
  margin: 0 0 20px 0;
}

p {
  margin: 0 0 20px 0;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  background: #264653;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: whitesmoke;
  font-size: 1.3em;
}

.navigation a:hover {
  background: #e76f51;
}

.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 20px 0 0 0;
}

.item {
  border: 1px solid #264653;
  background: #2a9d8f;
  padding: 5px 5px 15px 5px;
  width: 30%;
  height: auto;
  margin: 20px auto 20px auto;
  color: white;
  text-align: center;
  -webkit-box-shadow: 5px 5px 3px -2px #264653;
  -moz-box-shadow: 5px 5px 3px -2px #264653;
  box-shadow: 5px 5px 3px -2px #264653;
}

footer {
  background: #264653;
  color: white;
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}

div.item > span {
  display: block;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: bold;
  color: whitesmoke;
}

#tall {
}

#add {
  margin-top: 30px;
}

@media all and (max-width: 900px) {
  .navigation {
    justify-content: space-around;
  }
  .item {
    width: 45%;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }

  .container {
    flex-flow: column wrap;
  }
  .item {
    width: 90%;
  }
}

