* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0;
  font: 16px Sans-Serif;
}


h1 {
  margin: 0 0 20px 0;
}

p {
  margin: 0 0 20px 0;
}

header {
  display: grid;
  grid-template-columns: 10% 90%;
  border: 1px solid black;
  background: #2a9d8f;
}

.navigation {
  grid-column-start: 2;
  display: grid;
  grid-template-columns: repeat(10,1fr); /* 5 menu items amount, ToDo: to set dynamically */
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: black;
  font-size: 1.3em;
}

.content {
  padding: 20px;
  margin: 2rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.container > div {
  background: #EDE7F6;
  padding: 1.5rem;
  border-radius: 1rem;
}

.footer {
  background: #42A5F5;
  color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.footer > div {
  justify-self: center;
}

@media all and (max-width: 900px) {

  .container {
    grid-template-columns: 1fr 1fr;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
  }

}

@media all and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }

  .footer {
    grid-template-columns: 1fr;
  }
}
