* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0;
  font: 16px Sans-Serif;
}


h1 {
  margin: 0 0 20px 0;
}

p {
  margin: 0 0 20px 0;
}


.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  background: #264653;
  padding: 0 20px 0 20px;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: whitesmoke;
  font-size: 1.3em;
}

.navigation a:hover {
  background: #e76f51;
}

.content {
  padding: 20px;
  margin: 2rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.container > div {
  background: #EDE7F6;
  padding: 1.5rem;
  border-radius: 1rem;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.container2 > div {
  background: #D59898;
  border: 1px solid seagreen;
  height: 100px;
}

.layout {
  display: grid;
  grid-template-columns: auto 25%;
  grid-gap: 1em;
}

.layout > div {
  background: #E5D198;
  border: 1px solid;
}

.layout-header {
  grid-column: 1 / span 2;
  grid-row: 1/ span 1;
  height: 70px;
}

.layout-main {
  height: 50vh;
}

.layout-footer {
  grid-column: 1 / span 2;
  height: 70px;
}

.layout-header, .layout-main, .layout-sidebar, .layout-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background: #42A5F5;
  color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.footer > div {
  justify-self: center;
}

@media all and (max-width: 900px) {

  .container {
    grid-template-columns: 1fr 1fr;
  }

  .container2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .container2 > div {
    height: 80px;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
  }

}

@media all and (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }

  .container2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .container2 > div {
    height: 60px;
  }

  .layout-main {
    grid-column: 1 / span 2;
  }

  .layout-sidebar {
    grid-column: 1 / span 2;
    height: 30vh;
  }

  .footer {
    grid-template-columns: 1fr;
  }
}
