body {
  background-color: #3a86ff;
  min-height: 100%;
  margin: 2em;
  font-size: 1em;
  font-family: 'David Libre', serif;
  line-height: 1.5em;
}

h1 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  font-size: medium;
}

.keyword {
  color: whitesmoke;
}