* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0;
  font: 1em system-ui;

}

h1 {
  margin: 0 0 20px 0;
}

h1, h2 {
  color: #d62828;
}

p {
  margin: 0 0 20px 0;
}


.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  background: #264653;
  padding: 0 20px 0 20px;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: whitesmoke;
  font-size: 1.3em;
}

.navigation a:hover {
  background: #f77f00;
}

.content {
  padding: 10px 20px 20px 20px;
  margin: 1.5rem 2rem 2rem 2rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
}

.container > div {
  background: #eae2b7;
  padding: 1.5rem;
  border-radius: 1rem;
}

div.item > span {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  color: #003049;
}

.container2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.container2 > div {
  background: #fcbf49;
  border: 1px solid #003049;
  height: 100px;
}

.layout {
  display: grid;
  grid-template-columns: auto 25%;
  grid-gap: 1em;
}

.layout > div {
  background: #f77f00;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.layout-header {
  grid-column: 1 / span 2;
  grid-row: 1/ span 1;
  height: 70px;
}

.layout-main {
  height: 50vh;
}

.layout-footer {
  grid-column: 1 / span 2;
  height: 70px;
}

.layout-header, .layout-main, .layout-sidebar, .layout-footer {

}

ul.navigation2 {
  list-style-type: none;
}

.navigation2 a {
  line-height: 15px;
}

.navigation2 a {
  text-decoration: none;
  color: whitesmoke;
}

.navigation2 a:hover {
  text-decoration: underline;
}

.navigation2 li {
  line-height: 1.3em;
}

.footer {
  background: #003049;
  color: whitesmoke;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.footer > div {
  justify-self: center;
}

@media all and (max-width: 900px) {
  .navigation {
    justify-content: space-around;
  }

  .container {
    grid-template-columns: 1fr 1fr;
  }

  .container2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }

  .container2 > div {
    height: 80px;
  }

  .layout-main {
    grid-column: 1 / span 2;
  }

  .layout-sidebar {
    grid-column: 1 / span 2;
    height: 30vh;
  }

  .footer {
    grid-template-columns: 1fr 1fr;
  }

}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    font-size: 1.2em;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .container2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .container2 > div {
    height: 60px;
  }

  .layout-main {
    grid-column: 1 / span 2;
  }

  .layout-sidebar {
    grid-column: 1 / span 2;
    height: 30vh;
  }

  .footer {
    grid-template-columns: 1fr;
  }

  .footer > div {
    margin-bottom: 15px;
  }

}
