* {
  box-sizing: border-box;
}

/*
  This will hide the focus indicator if the element receives focus via the mouse,
  but it will still show up on keyboard focus.
  https://github.com/WICG/focus-visible
*/
* :focus:not(.focus-visible) {
  outline: none;
}

.d-buttons div, .stripped-buttons div{
  display: inline-block;
  padding-left: .3rem;
  padding-right: .3rem;
  cursor: pointer;
}

.stripped-buttons div button{
  background: none;
  border: none;
  padding: 0;
  color: inherit;
  text-decoration: none;
}

#sb1{
  all: inherit;
}
