* {
  box-sizing: border-box;
}

*::selection {
  background-color: #95d5b2;
}

body {
  background-color: #e6e8e6;
  color: #080708;
  font-family: Verdana, sans-serif;
}

h1 {
  text-transform: uppercase;
}

h2 {
  margin-top: 1.2em;
  margin-bottom: 0.2em;
  text-decoration: underline;
  letter-spacing: 0.1em;
}

h3 {
  margin-top: 1em;
  margin-bottom: 0.3em;
}


a:link {
  color: #3772ff;
}

a:visited {
  color: #3772ff;
}

a {
  text-decoration: none;
}

.bg {
  width: 100%;
  height: 300px;
  background-image: url("../images/bg.jpg");
}

.entities {
  font-size: 1.8em;
}

.semantic {
  color: #e10020;
}

#p-high {
  line-height: 1.3;
}

#text-prop1 {
  font-weight: bold;
}

#text-prop2 {
  text-decoration-line: underline;
  text-decoration-style: wavy;
}

.paragraph2 {
  letter-spacing: 0.2em;
  text-align: center;

}

.paragraphs p::first-letter {
  text-transform: uppercase;
  color: #e10020;
  font-size: 1.5em;
}

#blocks {
  width: 80%;
  height: 470px;
  border: 3px solid black;
  padding: 10px;
  position: relative; /* for descendants */
}

section.blocks-1type {
  margin: 5px;
  border: 5px solid gray;
  width: 210px;
}

section.blocks-2type {
  margin: 5px;
  border: 5px solid gray;
  width: 110px;
  position: relative;
  top: -438px;
  left: 240px;
}

div.title {
  background-color: #e6e8e6;
  border-bottom: 5px solid gray;
  text-align: center;
  font-weight: bold;
}

div.blocks-1type {
  height: 200px;
  line-height: 200px;
  width: 200px;
  text-align: center;
  font-style: italic;
  position: static; /* default */
  top: 100px; /* does not work for static position */
  left: 100px; /* does not work for static position */
}

div.blocks-2type {
  height: 100px;
  line-height: 100px;
  width: 100px;
  text-align: center;
  font-style: italic;
}

div#block1 {
  background-color: #3772ff;
  opacity: 50%;
  transition: 1s;
}

div#block1:hover {
  opacity: unset;
}


div#block2 {
  background-color: #fdca40;
}

div#block3 {
  background-color: #e10020;
}

div#block3:hover {
  transform: scale(1.5);
  transition: 1s;
}

div#block4 {
  color: wheat;
  background-color: #080708;
}

div#block4:hover {
  transform: rotate(45deg);
  transition: 1s;
}

div#block5 {
  background-color: #fdca40;
  position: relative;
  top: 50px;
  left: 50px;
}

div#block5:hover {
  top: 0;
  left: 0;
  transition: 1s;
}

div#dog {
  width: 210px;
  border: 5px solid gray;
  background-color: #3772ff;
  height: auto;
  position: absolute;
  top: 15px;
  right: 15px;
}

#dog img {
  display: block;
  width: 202px;
  height: 207px;
  margin: auto;
  background-color: #e76f51;
  border: 5px solid #e10020;
  border-radius: 50%;
}

#dog img:hover {
  transform: rotate(45deg);
  transition: 1s;
}

div#dog span {
  text-align: center;
  display: block;
}

#dog h5 {
  text-align: center;
  font-size: 1.3em;
  margin: 10px auto 10px auto;
}

.elements li {
  margin: 10px auto;
}

.buttons {
  border-radius: 4px;
  background-color: #080708;
  border: none;
  color: #e10020;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 7px;
  width: auto;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.buttons span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttons span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
  border: none;
}

.buttons:hover span {
  padding-right: 25px;
}

.buttons:hover span:after {
  opacity: 1;
  right: 0;
}